# 2021년 06월 요일별 데이터셋 만들기

In [ ]:
from datetime import datetime

## 1. 데이터셋 불러오기

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/21 세미프로젝트_2차 (1)/데이터/01_음식물쓰레기_기본수정.csv',encoding='cp949')
df

## 2. datetime(날짜타입) 변수 설정

In [ ]:
df['date'] = pd.to_datetime(df['base_date'])
df

In [ ]:
df['year_date'] = df['base_date'].str.split('-').str[0]
df['month_date'] = df['base_date'].str.split('-').str[1]

df[['year_date', 'month_date']] = df[['year_date', 'month_date']].apply(pd.to_numeric)
df

In [ ]:
df0 = df[(df['year_date']==2021) & (df['month_date']==6)]
df0

In [ ]:
df0['week'] = df0['date'].dt.day_name()
df0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          base_date city    emd_cd  ... year_date month_date       week
2147898  2021-06-01  제주시  50110253  ...      2021          6    Tuesday
2147899  2021-06-01  제주시  50110253  ...      2021          6    Tuesday
2147900  2021-06-01  제주시  50110253  ...      2021          6    Tuesday
2147901  2021-06-01  제주시  50110253  ...      2021          6    Tuesday
2147902  2021-06-01  제주시  50110253  ...      2021          6    Tuesday
...             ...  ...       ...  ...       ...        ...        ...
2208737  2021-06-30  제주시  50110250  ...      2021          6  Wednesday
2208738  2021-06-30  제주시  50110250  ...      2021          6  Wednesday
2208739  2021-06-30  제주시  50110250  ...      2021          6  Wednesday
2208740  2021-06-30  제주시  50110250  ...      2021          6  Wednesday
2208741  2021-06-30  제주시  50110640  ...      2021          6  Wednesday

[60844 rows x 12 columns]

## 3. groupby 사용

In [ ]:
grouped1 = df0[['em_g','pay_amt']].groupby([df0['emd_nm'],df0['week']])
df1 = pd.DataFrame(grouped1.sum()).reset_index()
df1

    emd_nm       week     em_g  pay_amt
0      건입동     Friday  4514700   134820
1      건입동     Monday  4958350   148075
2      건입동   Saturday  5333750   159302
3      건입동     Sunday  5374550   160498
4      건입동   Thursday  4592550   137116
..     ...        ...      ...      ...
282    효돈동   Saturday  3991850   119451
283    효돈동     Sunday  3835200   114719
284    효돈동   Thursday  3399600   101725
285    효돈동    Tuesday  4053700   121326
286    효돈동  Wednesday  4799900   143610

[287 rows x 4 columns]

In [ ]:
df1['em_kg'] = df1['em_g'] / 1000
df1

    emd_nm       week     em_g  pay_amt    em_kg
0      건입동     Friday  4514700   134820  4514.70
1      건입동     Monday  4958350   148075  4958.35
2      건입동   Saturday  5333750   159302  5333.75
3      건입동     Sunday  5374550   160498  5374.55
4      건입동   Thursday  4592550   137116  4592.55
..     ...        ...      ...      ...      ...
282    효돈동   Saturday  3991850   119451  3991.85
283    효돈동     Sunday  3835200   114719  3835.20
284    효돈동   Thursday  3399600   101725  3399.60
285    효돈동    Tuesday  4053700   121326  4053.70
286    효돈동  Wednesday  4799900   143610  4799.90

[287 rows x 5 columns]

In [ ]:
df1.describe()

               em_g       pay_amt         em_kg
count  2.870000e+02  2.870000e+02    287.000000
mean   9.560137e+06  2.854571e+05   9560.137491
std    7.781450e+06  2.320093e+05   7781.450167
min    6.574500e+05  1.966400e+04    657.450000
25%    4.219700e+06  1.261625e+05   4219.700000
50%    7.129350e+06  2.126860e+05   7129.350000
75%    1.293498e+07  3.865500e+05  12934.975000
max    3.870255e+07  1.155599e+06  38702.550000

## 4. 새 데이터 프레임 저장

In [ ]:
df1.to_csv('/content/drive/MyDrive/21 세미프로젝트_2차 (1)/데이터/0816_지역별_요일별.CSV',index=False, encoding='cp949')