In [ ]:
# Colab 작동시 실행
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('/content/drive/MyDrive/세미2차/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',encoding='CP949')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          base_date city    emd_cd emd_nm em_area_cd  em_cnt    em_g  pay_amt
0        2018-01-01  제주시  50110670    외도동     W6X062       2   15500      464
1        2018-01-01  제주시  50110630    아라동     W6XA97      25   59800     1787
2        2018-01-01  제주시  50110630    아라동     W6XA96       8   25350      758
3        2018-01-01  제주시  50110630    아라동     W6XA95      12   30000      898
4        2018-01-01  제주시  50110630    아라동     W6XA94      14   44050     1317
...             ...  ...       ...    ...        ...     ...     ...      ...
2211440  2021-06-30  제주시  50110250    한림읍     W6XEB4      12   58250     1743
2211441  2021-06-30  제주시  50110250    한림읍     W6XEB7      15  111000     3326
2211442  2021-06-30  제주시  50110250    한림읍     W6XEB8      21   48300     1444
2211443  2021-06-30  제주시  50110250    한림읍     W6XEA2       5   22050      661
2211444  2021-06-30  제주시  50110640    오라동     W6XAD5       2    2900       87

[2211445 rows x 8 columns]

In [8]:
df.info()
df.shape
df = df[(df['em_g'] != 0) & (df['emd_nm'] != '알수없음')]
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2211445 entries, 0 to 2211444
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   base_date   object
 1   city        object
 2   emd_cd      object
 3   emd_nm      object
 4   em_area_cd  object
 5   em_cnt      int64
 6   em_g        int64
 7   pay_amt     int64
dtypes: int64(3), object(5)
memory usage: 135.0+ MB

          base_date city    emd_cd emd_nm em_area_cd  em_cnt    em_g  pay_amt
0        2018-01-01  제주시  50110670    외도동     W6X062       2   15500      464
1        2018-01-01  제주시  50110630    아라동     W6XA97      25   59800     1787
2        2018-01-01  제주시  50110630    아라동     W6XA96       8   25350      758
3        2018-01-01  제주시  50110630    아라동     W6XA95      12   30000      898
4        2018-01-01  제주시  50110630    아라동     W6XA94      14   44050     1317
...             ...  ...       ...    ...        ...     ...     ...      ...
2211440  2021-06-30  제주시  50110250    한림읍     W6XEB4      12   58250     1743
2211441  2021-06-30  제주시  50110250    한림읍     W6XEB7      15  111000     3326
2211442  2021-06-30  제주시  50110250    한림읍     W6XEB8      21   48300     1444
2211443  2021-06-30  제주시  50110250    한림읍     W6XEA2       5   22050      661
2211444  2021-06-30  제주시  50110640    오라동     W6XAD5       2    2900       87

[2208742 rows x 8 columns]

In [10]:
df['base_date'] = df['base_date'].astype('str')
datas = df['base_date'].str.split('-')
df['year'] = datas.str.get(0)
df['month'] = datas.str.get(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df['year']

In [ ]:
df['month']

In [13]:
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
value = df[(df['year'] == '2018') & (df['month'] == '12')].em_g.sum()
value

2474332000

In [14]:
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
year = ['2018','2019','2020','2021']

lst2=[]
for j in range(0,4,1):
    lst=[]
    for i in range(0,12,1):    
        value = df[(df['year'] == year[j]) & (df['month'] == month[i])].em_g.sum()
        lst.append(value)
    lst2.append(lst)
result = pd.DataFrame(lst2,index=[2018,2019,2020,2021],columns=[1,2,3,4,5,6,7,8,9,10,11,12])
result

              1           2           3   ...          10          11          12
2018  2410146150  2237663300  2451217550  ...  2254507200  2276773400  2474332000
2019  2380415754  2196350204  2111585200  ...  2290111842  2364908762  2592944733
2020  2701055823  2557344494  2684356155  ...  2558046020  2514607500  2695028750
2021  2590809791  2354602754  2579375308  ...           0           0           0

[4 rows x 12 columns]

In [ ]:
result.to_excel('test(수정).xlsx')